DAWG-Python==0.7.2
Django==1.9.7
django-appconf==1.0.1
django-cleanup==0.4.1
django-geoposition==0.2.2
django-grappelli==2.8.1
djangoajax==2.2.15
docopt==0.6.2
lxml==3.4.4
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pympi-ling==git+git://github.com/khoidt/pympi
six==1.9.0
wheel==0.24.0

#timeside==0.8