Django>=1.9.7
uWSGI
DAWG-Python==0.7.2
django-appconf==1.0.2
django-cleanup==0.4.2
django-geoposition==0.2.2
django-grappelli==2.8.1
django-reversion==2.0.3
djangoajax==2.3.6
docopt==0.6.2
lxml==3.6.0
Pillow==3.2.0
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
git+https://github.com/khoidt/pympi
six==1.10.0
pyenchant
