div#grp-content-container {
	height: 100%;
	position: relative;
}
.eaf_display {
	margin-top: -30px;
	margin-bottom: -80px;
}
#workbench {
	position: fixed;
	top: 100px;
	right: 0px;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	
	min-width: 470px;
	min-height: 620px;
	
	padding-left: 10px;
	padding-right: 20px;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #ccc;
	background: #F9F9F9;
}
#workbench.wb_reduced {
	right: -255px;
}
#workbench_title {
	padding-top: 5px;
	font-weight: bold;
}
#save_button {
	!position: absolute;
	!bottom: 5px;
	!left: 5px;
	float: right;
}
#wb_col_1, #wb_col_2, #wb_col_3 {
	float: left;
	padding-top: 15px;
}
#wb_col_2, #wb_col_3 {
	padding-left: 20px;
	min-width: 150px;
}
#workbench.wb_reduced #wb_col_2,
#workbench.wb_reduced #wb_col_3 {
	display: none;
}
#workbench:not(.wb_reduced) #wb_col_1 {
	display: none;
}
#examined_token, #normalization_controls {
	display: flex;
}
 #normalization_controls {
	padding-top: 15px;
}
#examined_transcript {
	width: 117px;
	min-width: 117px;
}
button#add_normalization, button#add_annotation, button#merge_right, button#merge_left {
	width: 20px;
	height: 21px;
}
button#merge_left {
	float: left;
}
button#merge_right {
	float: right;
}
#normalization_suggestions, #annotation_suggestions_lst {
	background: lavender;
}
#normalization_suggestions {
	margin-top: 10px;
	width: 174px;
}
#normalization_suggestions_lst li {
	padding-left: 3px;
}
#normalization_input{
	padding-left: 2px;
}
#annotation_info{
	padding-top: 10px;
	padding-bottom: 10px;
}
#annotation_controls{
	position: absolute;
	bottom: 20px;
}
div#eaf_display {
	float: left;
}
div.annot_wrapper {
	padding-top: 40pt;
	display: flex;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}
div.audiofragment {
	float: left;
}
div.annot {
	float: left;
	padding-left: 10pt;
	margin-right: -10pt;
}
span.participant {
	position: absolute;
	font-size: 8pt;
	margin-top: -12pt;
}
span.transcript {
	text-align: center;
	font-size: 14pt;
	display: inline-flex;
}
trt {
	color: #041330;
	font-family: Cambria;
}
nrm {
	font-size: 10pt;
	position: absolute;
	margin-top: 16px;
	font-family: Courier New;
	color: dodgerblue;
}
lemma {
	font-size: 8pt;
	position: absolute;
	margin-top: 25px;
	font-family: Tahoma;
	padding-left: 0.5px;
	color: #DA9FDA;
}
morph {
	font-size: 6pt;
	position: absolute;
	margin-top: 35px;
	font-family: Lucida Console;
	padding-left: 0.5px;
	color: #C2A0BA;
}
.inwr span.participant {
	color: #359DC3;
}
.inwd span.participant {
	font-weight: 500;
	color: #8D0000;
}	
trt.focused {
	background-color: #FFC8EC;
}
button.fa {
	color: black;
	margin-left: 2pt;
	margin-right: 10pt;
}
button.fa.off {
	color: #838383;
	cursor: default;
	background-color: #eee
}
tech {
	color: grey;
}
note {
	color: grey;
	font-style: italic;
}
note:before, note:after {
	color: grey;
	font-style: normal;
}
note:before {
	content: "[";
}
note:after {
	content: "]";
}
.selected {
	background: #F39814;
	color: white;
}
token::after { 
 content: "\00a0";
}
.manualAnnotationContainer {
	 display: none;
}
.manualAnnotationContainer.active{
	 display: table-row;
}
.manualAnnotationContainer label {
	 display: table-cell;
}
.manualAnnotation {
	display: table-cell;
	margin-left: 20px;
}

