{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

<!-- 
FIX BREADCRUMPS, SEE BASE.HTML:
  <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
-->

{% block extrahead %}{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static "css/trimco.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome-4.4.0/css/font-awesome.min.css" %}" />
<!-- <script type="text/javascript" src="{% static "js/Typo.js-master/typo/typo.js" %}" ></script> SPELLCHECKER -->
<style>
	.audiofragment {
		padding-top: 20px;
	}
	.transcript {
		line-height: 3em;;
	}
	.active_annot_t {
		!display:block;
		!position:fixed;
		padding-top: 10%;
		padding-left: 3%;
		opacity:0.5;
	}
	#norm_training_div {
		position: static;
		padding-top: 15%;
		padding-left: 3%;
		font-size: 200%;
	}
	#counter {
		position: static;
		padding-top: 20px;
		padding-left: 3%;
		font-size: 15pt;
	}
	#input_id { 
		padding-left: 2px;
		height: 25px;
		font-size: 100%;
	}
	#bel_normalization_input, #rus_normalization_input {
		!padding-left: 10px;
		margin-left: 10px;
		height: 25px;
		font-size: 100%;
	}
	#skipbutton{
		height: 30px;
		width: 30px;
		margin-left: 20px;
		margin-right: 100px;
		background-color: #FF9797;
	}
	#addbutton, #savebutton{
		height: 30px;
		width: 30px;
		margin-left: 0px;
		margin-right: 5px;
	}
	#examples, #exceptions {
		display: none;
	}
</style>
<script type="text/javascript" src="{% static "js/howler/howler.min.js" %}" ></script>
<!--<script type="text/javascript" src="{% static "js/trimco.js" %}" ></script>-->
<script type="text/javascript" src="{% static "js/trainer.js" %}" ></script>
{{ media }}
{% endblock %}
{% block content %}
<div id="examples" data-dictionary="{{ examples_dict }}"></div>
<div id="exceptions" data-array="{{ exceptions_lst }}"></div>
{{ ctext|safe }}

<div id="norm_training_div">
	<span style="color: #309BC0;">NORMALIZATION BELARUSIAN:<input id="bel_normalization_input" title=""></span>
	<br><br>
	<span style="color: #309BC0;">NORMALIZATION RUSSIAN:<input id="rus_normalization_input" title=""></span>
	<br><br>
	<span>
		<button id="skipbutton" class="fa fa-caret-right"></button>
		<button id="savebutton" class="fa fa-save"></button>
		<button id="addbutton" class="fa fa-plus"></button>
	</span>
</div>
<div id="counter"><span>#</span><span id='counter_status'>0</span></div>

{% endblock %}